@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url(//db.onlinewebfonts.com/c/15760947fc9da074ec2eb1b378ec2ff2?family=Diavlo+Light);
:root {
  --color-main: #006885;
  --color-white: #FFF;
  --color-organ: #dba410;
  --color-text: #032136; }

body {
  font-family: 'HelveticaNeue', sans-serif;
  background-color: #eff4f7;
  font-size: 14px; }
  body aside {
    height: 100%;
    width: 0;
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    text-align: center;
    z-index: 10000; }
  body main {
    margin-top: 0;
    position: relative;
    padding-bottom: 110px; }
    body main .features-swiper-container {
      position: relative; }
      body main .features-swiper-container .feature-product-swiper {
        margin: 18px 66px;
        padding: 12px; }
        @media (max-width: 575px) {
          body main .features-swiper-container .feature-product-swiper {
            margin: 0; } }
        @media (min-width: 576px) and (max-width: 767px) {
          body main .features-swiper-container .feature-product-swiper {
            margin: 0; } }
        body main .features-swiper-container .feature-product-swiper .swiper-wrapper {
          margin: -10px;
          padding: 10px; }
          @media (min-width: 768px) and (max-width: 991px) {
            body main .features-swiper-container .feature-product-swiper .swiper-wrapper {
              padding: 10px 0; } }
          @media (min-width: 1200px) and (max-width: 1399px) {
            body main .features-swiper-container .feature-product-swiper .swiper-wrapper {
              padding: 10px 0; } }
          body main .features-swiper-container .feature-product-swiper .swiper-wrapper .block-item {
            box-shadow: 0 3px 10px 0 rgba(0, 84, 144, 0.16); }
      body main .features-swiper-container .swiper-button {
        width: 48px;
        height: 48px;
        display: block;
        padding: 16px 12px;
        box-shadow: 0 3px 10px 0 rgba(160, 111, 17, 0.16);
        background: #ffffff url("/images/arrow-left.png") center center no-repeat;
        background-size: 24px;
        position: absolute;
        z-index: 9999;
        border-radius: 50%;
        top: 42%; }
        @media (max-width: 575px) {
          body main .features-swiper-container .swiper-button {
            display: none; } }
        @media (min-width: 576px) and (max-width: 767px) {
          body main .features-swiper-container .swiper-button {
            display: none; } }
        body main .features-swiper-container .swiper-button:focus {
          border: none;
          outline: 0; }
        body main .features-swiper-container .swiper-button.swiper-button-disabled {
          opacity: .7; }
      body main .features-swiper-container .button-swiper-home-next {
        -ms-transform: rotate(-180deg);
        /* IE 9 */
        transform: rotate(-180deg);
        right: 0; }
      body main .features-swiper-container .button-swiper-home-prev {
        left: 0; }
    body main .product-block {
      padding: 16px 30px 30px;
      margin: 18px 36px 0;
      border-radius: 20px;
      background-color: var(--color-white); }
      @media (max-width: 575px) {
        body main .product-block {
          margin: 0;
          padding: 20px 8px; } }
      @media (min-width: 576px) and (max-width: 767px) {
        body main .product-block {
          margin: 0;
          padding: 20px 16px; } }
      @media (max-width: 575px) {
        body main .product-block .block-item {
          width: calc(50% - 6px);
          box-shadow: 0 3px 10px 0 rgba(0, 84, 144, 0.16); } }
      @media (min-width: 576px) and (max-width: 767px) {
        body main .product-block .block-item {
          width: calc(50% - 15px);
          box-shadow: 0 3px 10px 0 rgba(0, 84, 144, 0.16); } }
      @media (min-width: 992px) and (max-width: 1199px) {
        body main .product-block .block-item {
          width: 30%;
          box-shadow: 0 3px 10px 0 rgba(0, 84, 144, 0.16); } }
      @media (min-width: 1200px) and (max-width: 1399px) {
        body main .product-block .block-item {
          width: calc(25% - 16px);
          box-shadow: 0 3px 10px 0 rgba(0, 84, 144, 0.16); } }
      body main .product-block .swiper-menu-tab {
        margin-left: 0; }
        body main .product-block .swiper-menu-tab .swiper-slide {
          width: auto; }
      body main .product-block .btn-organ {
        width: 570px;
        margin-bottom: 00px; }
        @media (max-width: 575px) {
          body main .product-block .btn-organ {
            width: 100%; } }
    body main .main-footer {
      height: 110px;
      width: 100%;
      background-color: var(--color-main);
      position: absolute;
      bottom: 0;
      z-index: -1; }

.page-home main {
  padding-bottom: 0; }
  .page-home main .block-container {
    padding-left: 16px;
    padding-right: 16px; }
    @media (min-width: 576px) and (max-width: 767px) {
      .page-home main .block-container {
        width: auto;
        max-width: none; } }

.page-success main {
  padding-bottom: 228px;
  padding-top: 72px; }
  .page-success main .container {
    font-family: "OpenSans", sans-serif;
    color: #0a262e; }
    .page-success main .container .row .congratulation {
      font-size: 40px;
      font-weight: bold; }
    .page-success main .container .row .notification-success {
      font-size: 16px; }
    .page-success main .container .row .box-success {
      width: 372px;
      height: 417px;
      background-color: var(--color-white);
      margin: 30px auto;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      font-size: 14px;
      padding: 0 16px;
      margin-top: 25px; }
      .page-success main .container .row .box-success .img-box-success {
        margin: 30px 29px 12px 29px;
        height: 150px; }
        .page-success main .container .row .box-success .img-box-success img {
          width: 100%;
          height: 100%;
          border-radius: 8px; }
      .page-success main .container .row .box-success .title-success {
        font-weight: bold; }
      .page-success main .container .row .box-success .price-success {
        font-size: 20px;
        font-weight: bold;
        color: #dba410; }
      .page-success main .container .row .box-success .content-success {
        color: #2e515c; }
        .page-success main .container .row .box-success .content-success span {
          font-weight: bold; }
      .page-success main .container .row .box-success .btn-quit {
        margin: 11px 4px;
        height: 40px;
        background-color: var(--color-main);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .page-success main .container .row .box-success .btn-quit a {
          color: var(--color-white);
          font-size: 16px;
          line-height: 20px;
          text-decoration: none; }
    .page-success main .container .row .need-help {
      font-size: 14px; }
    .page-success main .container .row .hot-line {
      font-size: 16px; }
      .page-success main .container .row .hot-line a {
        font-weight: bold;
        color: #0a262e; }

.page-payment main {
  padding-top: 60px; }
  @media (max-width: 575px) {
    .page-payment main {
      padding-top: 38px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .page-payment main {
      padding-top: 38px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .page-payment main {
      padding-top: 38px; } }
  .page-payment main .container {
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    display: flex; }
    @media (max-width: 575px) {
      .page-payment main .container {
        display: block; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .page-payment main .container {
        display: block; } }
    .page-payment main .container .box-payment {
      color: #5b637b;
      padding: 26px 23px 20px 26px;
      border-radius: 24px;
      background-color: #f5f7fa;
      box-shadow: 0 4px 30px 0 rgba(36, 47, 82, 0.1);
      border: solid 2px #ffffff; }
      @media (max-width: 575px) {
        .page-payment main .container .box-payment {
          padding: 23px 12px 15px 12px; } }
      @media (min-width: 576px) and (max-width: 767px) {
        .page-payment main .container .box-payment {
          padding: 23px 12px 15px 12px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .page-payment main .container .box-payment {
          padding: 23px 12px 15px 12px; } }
    .page-payment main .container .left-payment {
      text-align: left;
      margin-right: 50px;
      width: 500px; }
      @media (max-width: 575px) {
        .page-payment main .container .left-payment {
          width: auto;
          margin-right: 0; } }
      @media (min-width: 576px) and (max-width: 767px) {
        .page-payment main .container .left-payment {
          width: auto;
          margin-right: 0; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .page-payment main .container .left-payment {
          width: auto;
          margin-right: 20px; } }
      .page-payment main .container .left-payment .form-check-inline label {
        line-height: 27px; }
      .page-payment main .container .left-payment .form-control {
        border-radius: 8px;
        border: 1px solid #d7dae2;
        background-color: #f5f7fa; }
      .page-payment main .container .left-payment .form-control::-webkit-input-placeholder {
        /* Edge */
        color: #969eb2;
        font-size: 14px; }
      .page-payment main .container .left-payment .form-control:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #969eb2;
        font-size: 14px; }
      .page-payment main .container .left-payment .form-control::placeholder {
        color: #969eb2;
        font-size: 14px; }
      .page-payment main .container .left-payment label i {
        font-size: 13px; }
      .page-payment main .container .left-payment .payment-title {
        font-size: 16px;
        color: #242f52;
        font-weight: bold; }
      .page-payment main .container .left-payment .input-text-group input {
        margin-top: 12px;
        margin-bottom: 12px; }
      .page-payment main .container .left-payment .margin-bottom-40 {
        margin-bottom: 40px; }
      .page-payment main .container .left-payment .note .note-title {
        font-weight: bold; }
      .page-payment main .container .left-payment .note ul {
        padding-left: 1em; }
        .page-payment main .container .left-payment .note ul li::marker {
          font-size: 16px;
          color: #dba410; }
      .page-payment main .container .left-payment .btn-payment {
        height: 40px;
        border-radius: 8px;
        background-color: #dba410;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 38px; }
        .page-payment main .container .left-payment .btn-payment a {
          font-size: 16px;
          font-weight: bold;
          color: var(--color-white); }
      .page-payment main .container .left-payment .term-and-condition {
        text-align: center; }
        .page-payment main .container .left-payment .term-and-condition a {
          text-decoration: underline;
          font-style: italic;
          color: #44a3f5; }
    .page-payment main .container .right-payment {
      text-align: left;
      width: 360px;
      height: 526px; }
      @media (max-width: 575px) {
        .page-payment main .container .right-payment {
          display: none; } }
      @media (min-width: 576px) and (max-width: 767px) {
        .page-payment main .container .right-payment {
          width: auto;
          margin-top: 20px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .page-payment main .container .right-payment {
          width: 100%;
          height: 550px; } }
      .page-payment main .container .right-payment .payment-title {
        font-size: 14px;
        color: #242f52;
        font-weight: bold; }
      .page-payment main .container .right-payment .img-voucher {
        margin: 14px 0 16px 0; }
        .page-payment main .container .right-payment .img-voucher img {
          width: 100%;
          height: 158px;
          border-radius: 8px; }
      .page-payment main .container .right-payment .voucher div span {
        float: right; }
      .page-payment main .container .right-payment .voucher div .price {
        font-size: 20px;
        color: #dba410;
        font-weight: bold; }
      .page-payment main .container .right-payment .location ul {
        padding-left: 1em; }
    .page-payment main .container #modalPaymentFailed .modal-content {
      top: 256px;
      height: 210px;
      border-radius: 20px;
      text-align: center; }
      .page-payment main .container #modalPaymentFailed .modal-content .modal-body {
        padding: 24px 0 30px; }
        .page-payment main .container #modalPaymentFailed .modal-content .modal-body .popup-payment-failed-header {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 9px; }
        .page-payment main .container #modalPaymentFailed .modal-content .modal-body .popup-payment-failed-content {
          font-size: 16px; }
          .page-payment main .container #modalPaymentFailed .modal-content .modal-body .popup-payment-failed-content span {
            color: #dba410; }
        .page-payment main .container #modalPaymentFailed .modal-content .modal-body .popup-payment-button {
          width: 206px;
          margin: 28px auto;
          height: 40px;
          background-color: var(--color-main);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px; }
          .page-payment main .container #modalPaymentFailed .modal-content .modal-body .popup-payment-button a {
            font-size: 16px;
            color: #fff; }

.page-detail {
  background-image: linear-gradient(to bottom, #edeeef, #f2f0f0);
  position: relative; }
  .page-detail .block-button-checkout {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 88px;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--color-white);
    z-index: 1000;
    padding: 12px 16px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .page-detail .block-button-checkout {
        display: none; } }
    @media (min-width: 1200px) and (max-width: 1399px) {
      .page-detail .block-button-checkout {
        display: none; } }
    @media (min-width: 1400px) {
      .page-detail .block-button-checkout {
        display: none; } }
    .page-detail .block-button-checkout .button-checkout {
      background: #dba410;
      height: 48px;
      border-radius: 24px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .page-detail .block-button-checkout .button-checkout a {
        color: var(--color-white);
        font-size: 16px;
        font-weight: bold; }
  .page-detail main {
    margin-top: -193px;
    z-index: 10;
    padding-bottom: 50px; }
    @media (max-width: 575px) {
      .page-detail main {
        padding-bottom: 0; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .page-detail main {
        padding-bottom: 0; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .page-detail main {
        padding-bottom: 0; } }
    @media (max-width: 575px) {
      .page-detail main .container {
        padding: 0; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .page-detail main .container {
        padding: 0; } }
    .page-detail main .block-product-detail {
      background-color: var(--color-white);
      padding: 21px 20px 5px;
      border-radius: 32px;
      margin: 0 67px;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1); }
      @media (max-width: 575px) {
        .page-detail main .block-product-detail {
          margin: 0;
          padding: 0 16px;
          border-radius: 16px;
          background-color: #eff4f7; } }
      @media (min-width: 576px) and (max-width: 767px) {
        .page-detail main .block-product-detail {
          margin: 0;
          padding: 0 16px;
          border-radius: 16px;
          background-color: #eff4f7; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .page-detail main .block-product-detail {
          margin: 0;
          padding: 0 16px;
          border-radius: 16px;
          background-color: #eff4f7; } }
      @media (max-width: 575px) {
        .page-detail main .block-product-detail .block-gallery {
          padding-top: 20px;
          box-shadow: 0 8px 16px 0 rgba(0, 84, 144, 0.12);
          border-radius: 16px;
          padding-bottom: 26px;
          background: var(--color-white); } }
      @media (min-width: 576px) and (max-width: 767px) {
        .page-detail main .block-product-detail .block-gallery {
          padding-top: 20px;
          box-shadow: 0 8px 16px 0 rgba(0, 84, 144, 0.12);
          border-radius: 16px;
          padding-bottom: 26px;
          background: var(--color-white); } }
      @media (min-width: 768px) and (max-width: 991px) {
        .page-detail main .block-product-detail .block-gallery {
          padding-top: 20px;
          box-shadow: 0 8px 16px 0 rgba(0, 84, 144, 0.12);
          border-radius: 16px;
          padding-bottom: 26px;
          background: var(--color-white); } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .page-detail main .block-product-detail .main-gallery {
          padding-right: 0; } }
      @media (min-width: 1200px) and (max-width: 1399px) {
        .page-detail main .block-product-detail .main-gallery {
          padding-right: 0; } }
      @media (min-width: 1400px) {
        .page-detail main .block-product-detail .main-gallery {
          padding-right: 0; } }
      .page-detail main .block-product-detail .gallery-top {
        width: 100%;
        height: 340px; }
        .page-detail main .block-product-detail .gallery-top .swiper-slide {
          border-radius: 20px; }
          @media (max-width: 575px) {
            .page-detail main .block-product-detail .gallery-top .swiper-slide {
              border-radius: 16px; } }
      .page-detail main .block-product-detail .gallery-thumbs {
        margin-top: 11px;
        height: 60px;
        box-sizing: border-box;
        padding: 0; }
        .page-detail main .block-product-detail .gallery-thumbs .swiper-button-gallery {
          width: 36px;
          height: 36px;
          display: block;
          padding: 16px 12px;
          box-shadow: 0 3px 10px 0 rgba(160, 111, 17, 0.16);
          background: transparent url("/images/arrow-right-white.svg") center center no-repeat;
          background-size: 24px;
          position: absolute;
          z-index: 9999;
          border-radius: 50%;
          top: 25%; }
          .page-detail main .block-product-detail .gallery-thumbs .swiper-button-gallery:focus {
            border: none;
            outline: 0; }
          .page-detail main .block-product-detail .gallery-thumbs .swiper-button-gallery.swiper-button-disabled {
            display: none; }
        .page-detail main .block-product-detail .gallery-thumbs .swiper-button-thumb-next {
          right: 0; }
        .page-detail main .block-product-detail .gallery-thumbs .swiper-button-thumb-prev {
          left: 0;
          -ms-transform: rotate(-180deg);
          /* IE 9 */
          transform: rotate(-180deg); }
      .page-detail main .block-product-detail .gallery-thumbs .swiper-slide {
        width: 80px;
        height: 100%;
        border-radius: 8px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .page-detail main .block-product-detail .gallery-thumbs .swiper-slide-thumb-active {
        position: relative; }
        .page-detail main .block-product-detail .gallery-thumbs .swiper-slide-thumb-active::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 8px;
          border: solid 2px #006885;
          background: rgba(10, 38, 46, 0.6) url("/images/ico-witness.svg") center center no-repeat; }
      @media (max-width: 575px) {
        .page-detail main .block-product-detail .product-item {
          padding-top: 27px;
          padding-left: 0; } }
      @media (min-width: 576px) and (max-width: 767px) {
        .page-detail main .block-product-detail .product-item {
          padding-top: 27px;
          padding-left: 0; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .page-detail main .block-product-detail .product-item {
          padding-top: 27px;
          padding-left: 0; } }

.page-category {
  background-image: linear-gradient(to bottom, #edeeef, #f2f0f0); }
  .page-category .header-content {
    padding: 0; }
  .page-category main {
    margin-top: -211px;
    z-index: 10;
    padding-bottom: 50px; }
    @media (max-width: 575px) {
      .page-category main .container {
        padding: 0; } }
    .page-category main .container .product-block {
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 32px; }
      @media (max-width: 575px) {
        .page-category main .container .product-block {
          border-radius: 16px;
          box-shadow: 0 10px 20px 0 rgba(0, 84, 144, 0.2);
          padding: 16px; } }
      @media (min-width: 576px) and (max-width: 767px) {
        .page-category main .container .product-block {
          border-radius: 16px;
          box-shadow: 0 10px 20px 0 rgba(0, 84, 144, 0.2);
          padding: 16px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .page-category main .container .product-block {
          border-radius: 16px;
          box-shadow: 0 10px 20px 0 rgba(0, 84, 144, 0.2);
          padding: 16px; } }
      .page-category main .container .product-block .category-item {
        margin-bottom: 8px; }
        .page-category main .container .product-block .category-item .category-title {
          margin-bottom: 18px;
          font-family: "OpenSans", sans-serif;
          font-size: 20px;
          font-weight: 600; }

header {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-white); }
  header .header-nav {
    height: auto;
    background-color: var(--color-white);
    font-size: 16px;
    z-index: 9999; }
  header .header-content {
    margin-top: 5px;
    position: relative; }
    header .header-content .header-title {
      font-size: 48px;
      font-weight: 600;
      line-height: 1.25;
      color: #0a262e;
      display: block;
      text-transform: uppercase; }
      header .header-content .header-title span {
        color: var(--color-main); }
    header .header-content .list-services {
      margin-top: 40px;
      margin-left: 5px; }
      @media (max-width: 575px) {
        header .header-content .list-services {
          margin-left: 0;
          padding: 0 10px; } }
      @media (min-width: 576px) and (max-width: 767px) {
        header .header-content .list-services {
          margin-left: 0;
          padding: 0 16px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        header .header-content .list-services {
          margin-left: 0;
          justify-content: center; } }
      header .header-content .list-services .service-item {
        flex-shrink: 0;
        border-radius: 16px;
        box-shadow: 0 10px 20px 0 rgba(160, 111, 17, 0.16);
        width: 270px;
        height: 170px;
        margin-right: 28px;
        border: solid 2px #fff;
        box-sizing: border-box;
        padding: 20px;
        cursor: pointer;
        margin-bottom: 40px;
        position: relative; }
        @media (max-width: 575px) {
          header .header-content .list-services .service-item {
            width: calc(50% - 12px);
            background-color: var(--color-white);
            margin: 6px;
            height: 136px;
            padding: 16px;
            overflow: hidden; } }
        header .header-content .list-services .service-item:hover, header .header-content .list-services .service-item.active {
          border: 2px solid #dba410; }
          header .header-content .list-services .service-item:hover span, header .header-content .list-services .service-item.active span {
            color: var(--color-main); }
        header .header-content .list-services .service-item::before {
          content: '';
          position: absolute;
          width: 40px;
          height: 72px;
          border-radius: 20px;
          border: solid 1px #aac9d1;
          background-color: #c3e0e8;
          z-index: 2; }
          @media (max-width: 575px) {
            header .header-content .list-services .service-item::before {
              height: 40px;
              width: 22.22px; } }
        header .header-content .list-services .service-item span {
          display: block;
          margin-top: 10px;
          font-size: 16px;
          font-weight: 600;
          color: #0a262e; }
        header .header-content .list-services .service-item img {
          display: block;
          height: 72px;
          width: auto;
          z-index: 3;
          position: relative;
          margin-left: 10px; }
          @media (max-width: 575px) {
            header .header-content .list-services .service-item img {
              height: 40px; } }
  header .navbar {
    padding: 2px 0; }
    header .navbar .navbar-brand {
      padding: 0; }
      header .navbar .navbar-brand .logo_lotus {
        width: 239px;
        height: 34px;
        object-fit: contain;
        font-size: 0; }
      header .navbar .navbar-brand span {
        display: block;
        width: 100%;
        text-align: center;
        color: var(--color-main);
        font-size: 9px;
        text-transform: uppercase; }
    header .navbar .navbar-nav .nav-item {
      margin: 0 20px; }
      header .navbar .navbar-nav .nav-item .nav-link {
        color: #0a262e;
        padding-left: 0;
        padding-right: 0; }
      header .navbar .navbar-nav .nav-item.active, header .navbar .navbar-nav .nav-item:hover {
        border-bottom: 3px solid var(--color-organ); }
        header .navbar .navbar-nav .nav-item.active .nav-link, header .navbar .navbar-nav .nav-item:hover .nav-link {
          color: var(--color-main); }
    header .navbar .btn-login {
      background-color: var(--color-main);
      border-radius: 20px;
      border: solid 1px #ffffff;
      width: 166px;
      height: 40px;
      color: var(--color-white) !important;
      font-size: 14px;
      font-weight: 600;
      line-height: 38px;
      text-align: center;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif; }

.page-home header {
  background: transparent url("/images/header-bg.png") top right no-repeat;
  background-size: contain; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .page-home header {
      background-size: 40% 80%; } }
  @media (min-width: 1200px) and (max-width: 1399px) {
    .page-home header {
      background-size: 50% 80%; } }
  .page-home header .header-nav {
    background-color: transparent; }
  .page-home header .header-content {
    padding-bottom: 231px; }
    @media (max-width: 575px) {
      .page-home header .header-content {
        padding-bottom: 30px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .page-home header .header-content {
        padding-bottom: 30px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .page-home header .header-content {
        padding-bottom: 30px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .page-home header .header-content {
        padding-bottom: 30px; } }
    @media (min-width: 1200px) and (max-width: 1399px) {
      .page-home header .header-content {
        padding-bottom: 5px; } }
    .page-home header .header-content .header-title {
      margin-top: 145px; }
      @media (max-width: 575px) {
        .page-home header .header-content .header-title {
          margin-top: 400px;
          font-size: 32px;
          padding: 0 16px; }
          .page-home header .header-content .header-title br {
            display: none; } }
      @media (min-width: 576px) and (max-width: 767px) {
        .page-home header .header-content .header-title {
          margin-top: 700px;
          font-size: 32px;
          padding: 0 16px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .page-home header .header-content .header-title {
          margin-top: 700px;
          font-size: 36px;
          padding: 0 16px;
          text-align: center; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .page-home header .header-content .header-title {
          padding: 0 16px;
          font-size: 32px;
          margin-top: 100px; } }

.page-detail header .header-nav .navbar,
.page-category header .header-nav .navbar {
  padding: 0; }
  .page-detail header .header-nav .navbar .nav-link,
  .page-category header .header-nav .navbar .nav-link {
    padding: 16px 0; }

.page-detail header .header-content,
.page-category header .header-content {
  max-height: 488px;
  height: 488px;
  width: 100%;
  margin-top: 50px;
  overflow: hidden; }
  @media (max-width: 575px) {
    .page-detail header .header-content,
    .page-category header .header-content {
      height: 400px; } }
  .page-detail header .header-content .header-title,
  .page-category header .header-content .header-title {
    font-size: 40px;
    margin-top: 115px;
    font-family: "Open Sans",serif;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 4; }
    @media (max-width: 575px) {
      .page-detail header .header-content .header-title,
      .page-category header .header-content .header-title {
        font-size: 24px;
        margin-top: 92px; } }
  .page-detail header .header-content .header-banner,
  .page-category header .header-content .header-banner {
    position: relative; }
    .page-detail header .header-content .header-banner:after,
    .page-category header .header-content .header-banner:after {
      content: '';
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }

.block-container .block-header {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #032136; }
  @media (max-width: 575px) {
    .block-container .block-header {
      text-align: left !important;
      font-size: 32px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .block-container .block-header {
      text-align: left !important;
      font-size: 32px; } }

.block-container .block-item {
  border-radius: 8px;
  width: 270px;
  margin-bottom: 30px; }
  .block-container .block-item .block-item-content {
    padding: 13px 20px; }
    .block-container .block-item .block-item-content .block-content-title {
      font-size: 16px;
      color: var(--color-text); }
    .block-container .block-item .block-item-content .block-content-price {
      color: var(--color-main);
      font-size: 20px;
      font-weight: 600; }
  .block-container .block-item .block-main-img {
    width: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .block-container .block-item .block-main-img:before {
      content: '';
      display: block;
      padding-top: 48.5%; }
    .block-container .block-item .block-main-img:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 10px;
      height: 28px;
      width: 65px;
      padding: 3px 10px;
      box-sizing: border-box;
      z-index: 2;
      background: transparent url("/images/brand-background.svg") top center no-repeat; }
    .block-container .block-item .block-main-img img {
      position: absolute;
      bottom: 6px;
      left: 42px;
      height: 16px;
      width: 100%;
      z-index: 3;
      transform: translateX(-50%); }

.block-container .swiper-slide {
  display: inline-block;
  width: 270px; }

.nav-tabs {
  border: none; }
  .nav-tabs .nav-link {
    border: none;
    font-size: 16px;
    padding: 0; }

.product-block {
  margin-top: 34px; }
  .product-block .nav-tabs {
    margin-bottom: 32px; }
    .product-block .nav-tabs .nav-link {
      color: #0a262e;
      padding-bottom: 17px;
      margin-right: 34px; }
      @media (max-width: 575px) {
        .product-block .nav-tabs .nav-link {
          padding-bottom: 13px; } }
      .product-block .nav-tabs .nav-link.active {
        border-bottom: 2px solid var(--color-organ);
        color: var(--color-main); }

.btn {
  padding: .75rem; }
  .btn:focus {
    box-shadow: none; }

.btn-organ {
  color: var(--color-white);
  background-color: var(--color-organ);
  font-family: OpenSans, serif;
  font-size: 16px;
  font-weight: 600; }
  .btn-organ:hover {
    color: var(--color-main); }

a {
  text-decoration: none; }

.pr-0 {
  padding-right: 0; }

.product-item {
  padding-left: 27px;
  padding-top: 10px; }
  .product-item .product-title {
    font-family: OpenSans, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-main); }
  .product-item .product-price {
    margin-top: 12px;
    font-family: OpenSans, sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: var(--color-organ); }
    .product-item .product-price .old-price {
      font-weight: 400;
      font-size: 16px;
      color: #4e646a;
      text-decoration: line-through;
      padding-left: 3px; }
  .product-item .product-quantity h4 {
    padding-top: 4px;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #0a262e; }
  .product-item .product-quantity .btn-number {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 14px;
    border: solid 1px #e7eaeb;
    background-color: #ffffff;
    border-radius: 0;
    line-height: 0;
    font-size: 0; }
    .product-item .product-quantity .btn-number:disabled {
      opacity: 1; }
    .product-item .product-quantity .btn-number span {
      position: relative;
      width: 12px;
      height: 2px;
      display: inline-block;
      background-color: #006885; }
    .product-item .product-quantity .btn-number.btn-minus {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border-right: 0; }
    .product-item .product-quantity .btn-number.btn-plus {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-left: 0; }
      .product-item .product-quantity .btn-number.btn-plus span:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 2px;
        top: -5px;
        left: 5px;
        background-color: var(--color-main); }
    .product-item .product-quantity .btn-number.btn-disable-count span {
      background-color: #e7eaeb; }
      .product-item .product-quantity .btn-number.btn-disable-count span:before {
        background-color: #e7eaeb; }
  .product-item .product-quantity .input-number {
    width: 40px;
    height: 40px;
    flex: 0 0 auto;
    border-bottom: solid 1px #e7eaeb;
    border-top: solid 1px #e7eaeb;
    border-left: 0;
    border-right: 0;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--color-white); }
    .product-item .product-quantity .input-number:focus {
      outline: 0;
      box-shadow: none; }
  .product-item .product-place {
    padding-top: 10px;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    text-align: left;
    color: #2e515c; }
    .product-item .product-place h4 {
      font-weight: 600;
      color: var(--color-main);
      font-size: 14px;
      margin-bottom: 0px;
      padding-bottom: 5px; }
    .product-item .product-place ul {
      padding-left: 10px;
      margin-bottom: 5px; }
  .product-item .product-info {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    text-align: left;
    color: #2e515c; }
    .product-item .product-info span {
      font-weight: 600;
      color: var(--color-main); }
  .product-item .action-checkout {
    margin-top: 32px;
    width: 100%;
    padding-right: 52px; }
    @media (max-width: 575px) {
      .product-item .action-checkout {
        display: none; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .product-item .action-checkout {
        display: none; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .product-item .action-checkout {
        display: none; } }
    .product-item .action-checkout .btn {
      width: 100%;
      height: 40px;
      line-height: 1.2;
      border-radius: 8px;
      font-size: 16px;
      font-family: OpenSans, sans-serif; }

.product-content-detail {
  margin-top: 32px; }
  .product-content-detail .nav-tabs {
    border-bottom: 1px solid #0a262e; }
    @media (max-width: 575px) {
      .product-content-detail .nav-tabs {
        margin-left: -16px;
        margin-right: -16px;
        justify-content: center;
        border-bottom: 1px solid #c7cbd6; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .product-content-detail .nav-tabs {
        margin-left: -16px;
        margin-right: -16px;
        justify-content: center;
        border-bottom: 1px solid #c7cbd6; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .product-content-detail .nav-tabs {
        margin-left: -16px;
        margin-right: -16px;
        justify-content: center;
        border-bottom: 1px solid #c7cbd6; } }
    .product-content-detail .nav-tabs .nav-link {
      font-family: 'Open Sans', serif;
      font-size: 22px;
      font-weight: 600;
      padding-bottom: 8px;
      margin-right: 20px;
      color: #7a9096;
      border-bottom: 2px solid transparent; }
      @media (max-width: 575px) {
        .product-content-detail .nav-tabs .nav-link {
          font-size: 20px; } }
      @media (min-width: 576px) and (max-width: 767px) {
        .product-content-detail .nav-tabs .nav-link {
          font-size: 20px; } }
      .product-content-detail .nav-tabs .nav-link.active {
        border-bottom: 2px solid var(--color-organ);
        color: #0a262e; }
        @media (max-width: 575px) {
          .product-content-detail .nav-tabs .nav-link.active {
            background-color: transparent;
            border-bottom: 4px solid var(--color-organ); } }
        @media (min-width: 576px) and (max-width: 767px) {
          .product-content-detail .nav-tabs .nav-link.active {
            background-color: transparent;
            border-bottom: 4px solid var(--color-organ); } }
        @media (min-width: 768px) and (max-width: 991px) {
          .product-content-detail .nav-tabs .nav-link.active {
            background-color: transparent;
            border-bottom: 4px solid var(--color-organ); } }
  .product-content-detail .tab-content {
    padding: 10px 0;
    color: #2e515c; }
    @media (max-width: 575px) {
      .product-content-detail .tab-content {
        padding-bottom: 60px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .product-content-detail .tab-content {
        padding-bottom: 60px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .product-content-detail .tab-content {
        padding-bottom: 60px; } }
    .product-content-detail .tab-content ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      justify-content: space-between; }
      .product-content-detail .tab-content ul li {
        background-color: #f4f7fa;
        border-radius: 8px;
        display: flex;
        align-items: center;
        align-content: center;
        width: 32%;
        margin-bottom: 10px;
        padding: 8px 8px 10px;
        position: relative; }
        @media (max-width: 575px) {
          .product-content-detail .tab-content ul li {
            width: 100%;
            background-color: var(--color-white); } }
        @media (min-width: 576px) and (max-width: 767px) {
          .product-content-detail .tab-content ul li {
            width: 100%;
            background-color: var(--color-white); } }
        @media (min-width: 768px) and (max-width: 991px) {
          .product-content-detail .tab-content ul li {
            width: calc(50% - 16px);
            background-color: var(--color-white); } }
        .product-content-detail .tab-content ul li img {
          padding: 0 10px;
          height: 32px;
          width: 52px;
          margin-right: 10px;
          border-right: 1px solid #e4e8ed; }

.block-filter {
  height: 60px;
  border-bottom: 1px solid #edeeef;
  margin-bottom: 30px;
  display: flex; }
  @media (max-width: 575px) {
    .block-filter {
      display: none; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .block-filter {
      display: none; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .block-filter {
      display: none; } }
  .block-filter select {
    height: 100%;
    -webkit-appearance: none;
    border: none;
    -moz-appearance: none;
    color: #728388;
    background: transparent url("/images/icon-polygon-down.svg") right 10px center no-repeat;
    padding-right: 24px; }
    .block-filter select:focus {
      box-shadow: none;
      border: 0;
      outline: 0; }

.block-filter-mobile {
  margin-bottom: 27px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .block-filter-mobile {
      display: none; } }
  @media (min-width: 1200px) and (max-width: 1399px) {
    .block-filter-mobile {
      display: none; } }
  @media (min-width: 1400px) {
    .block-filter-mobile {
      display: none; } }
  .block-filter-mobile .form-control {
    border-radius: 8px;
    border: solid 1px #e7eaeb;
    background-color: #fafbff; }
  .block-filter-mobile select {
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #001c26;
    background: transparent url("/images/icon-polygon-down.svg") right 10px center no-repeat;
    padding-right: 24px;
    margin-bottom: 8px; }
    .block-filter-mobile select:focus {
      box-shadow: none;
      border: 0;
      outline: 0; }

.form-check-input[type=radio] {
  width: 20px;
  height: 20px;
  border: solid 1px #d7dae2;
  background-color: #f5f7fa;
  margin-right: 10px; }

.form-check-input:checked[type=radio] {
  background-image: none;
  padding: 2px;
  position: relative;
  border: solid 1px #006885;
  background-color: #e9edf2; }

.form-check-input:checked[type=radio]:after {
  background-color: #dba410;
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 50%; }

.form-check-input:focus {
  box-shadow: none; }

.form-check-input[type=checkbox] {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-right: 0;
  background-color: #f5f7fa; }

.form-check-input:checked[type=checkbox] {
  background-color: var(--color-main); }

.margin-top-5 {
  margin-top: 5px; }

footer .container-footer {
  max-width: 1000px;
  margin: 0 auto; }

footer .head-footer {
  background: url(../images/footer/pattern_vang.svg);
  padding: 10px 15px; }
  footer .head-footer .rate {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .head-footer .rate img {
      width: 85px; }
    footer .head-footer .rate .text-rate {
      margin-left: 15px; }
      footer .head-footer .rate .text-rate .title {
        font-size: 15px;
        color: #0b6e8b;
        margin-bottom: 5px; }
      footer .head-footer .rate .text-rate .content {
        font-size: 13px; }

footer .content-footer {
  padding: 30px 15px;
  background-color: #0685aa;
  color: #fff; }
  footer .content-footer .accordion {
    font-family: "Diavlo Light", "Arial", sans-serif; }
    @media (min-width: 768px) and (max-width: 991px) {
      footer .content-footer .accordion {
        flex-wrap: wrap;
        flex-direction: row; } }
    footer .content-footer .accordion .item .accordion-header {
      cursor: pointer;
      padding: 20px 0; }
      @media (max-width: 575px) {
        footer .content-footer .accordion .item .accordion-header {
          border-bottom: 1px solid #4aacc3; } }
      @media (min-width: 576px) and (max-width: 767px) {
        footer .content-footer .accordion .item .accordion-header {
          border-bottom: 1px solid #4aacc3; } }
      footer .content-footer .accordion .item .accordion-header .accordion-category {
        font-size: 16px;
        background-color: #0685aa;
        padding: 0;
        box-shadow: none;
        color: #e2aa11; }
        @media (max-width: 575px) {
          footer .content-footer .accordion .item .accordion-header .accordion-category {
            color: #fff; } }
        @media (min-width: 576px) and (max-width: 767px) {
          footer .content-footer .accordion .item .accordion-header .accordion-category {
            color: #fff; } }
        @media (min-width: 768px) and (max-width: 991px) {
          footer .content-footer .accordion .item .accordion-header .accordion-category:after {
            display: none !important; } }
        @media (min-width: 992px) and (max-width: 1199px) {
          footer .content-footer .accordion .item .accordion-header .accordion-category:after {
            display: none !important; } }
        @media (min-width: 1200px) and (max-width: 1399px) {
          footer .content-footer .accordion .item .accordion-header .accordion-category:after {
            display: none !important; } }
        @media (min-width: 1400px) {
          footer .content-footer .accordion .item .accordion-header .accordion-category:after {
            display: none !important; } }
    @media (min-width: 768px) and (max-width: 991px) {
      footer .content-footer .accordion .item .accordion-collapse {
        display: block !important; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      footer .content-footer .accordion .item .accordion-collapse {
        display: block !important; } }
    @media (min-width: 1200px) and (max-width: 1399px) {
      footer .content-footer .accordion .item .accordion-collapse {
        display: block !important; } }
    @media (min-width: 1400px) {
      footer .content-footer .accordion .item .accordion-collapse {
        display: block !important; } }
    footer .content-footer .accordion .item .accordion-collapse .accordion-body {
      padding: 0; }
      footer .content-footer .accordion .item .accordion-collapse .accordion-body ul {
        list-style: none;
        padding: 0; }
        footer .content-footer .accordion .item .accordion-collapse .accordion-body ul li {
          padding: 5px 0; }
          @media (max-width: 575px) {
            footer .content-footer .accordion .item .accordion-collapse .accordion-body ul li {
              padding: 20px 0;
              border-bottom: 1px solid #4aacc3; } }
          @media (min-width: 576px) and (max-width: 767px) {
            footer .content-footer .accordion .item .accordion-collapse .accordion-body ul li {
              padding: 20px 0;
              border-bottom: 1px solid #4aacc3; } }
          footer .content-footer .accordion .item .accordion-collapse .accordion-body ul li a {
            color: #fff;
            font-size: 13px; }
            @media (max-width: 575px) {
              footer .content-footer .accordion .item .accordion-collapse .accordion-body ul li a {
                font-size: 16px; } }
            @media (min-width: 576px) and (max-width: 767px) {
              footer .content-footer .accordion .item .accordion-collapse .accordion-body ul li a {
                font-size: 16px; } }
  footer .content-footer .footer_social {
    margin-top: 30px;
    font-size: 14px;
    padding-bottom: 30px;
    clear: both; }
    footer .content-footer .footer_social .vna-social {
      margin-bottom: 30px; }
      @media (max-width: 575px) {
        footer .content-footer .footer_social .vna-social {
          padding: 0; } }
      footer .content-footer .footer_social .vna-social .sky-team {
        margin-bottom: 15px; }
        @media (max-width: 575px) {
          footer .content-footer .footer_social .vna-social .sky-team {
            text-align: center; } }
        footer .content-footer .footer_social .vna-social .sky-team img {
          width: 120px; }
      footer .content-footer .footer_social .vna-social .social {
        display: flex; }
        @media (max-width: 575px) {
          footer .content-footer .footer_social .vna-social .social {
            justify-content: center; } }
        footer .content-footer .footer_social .vna-social .social a {
          margin: 10px 2px; }
          footer .content-footer .footer_social .vna-social .social a img {
            width: 35px; }
      footer .content-footer .footer_social .vna-social .social-link {
        display: flex; }
        @media (max-width: 575px) {
          footer .content-footer .footer_social .vna-social .social-link {
            justify-content: center; } }
        footer .content-footer .footer_social .vna-social .social-link a {
          color: #fff;
          padding: 0 5px;
          border-right: 1px solid #94e6ff; }
          footer .content-footer .footer_social .vna-social .social-link a:last-child {
            border-right: none; }
    footer .content-footer .footer_social .vna-info {
      margin-bottom: 30px; }
      footer .content-footer .footer_social .vna-info .info {
        display: flex; }
        @media (max-width: 575px) {
          footer .content-footer .footer_social .vna-info .info {
            margin: 3px 0; } }
        @media (min-width: 576px) and (max-width: 767px) {
          footer .content-footer .footer_social .vna-info .info {
            margin: 10px 0; } }
        @media (min-width: 768px) and (max-width: 991px) {
          footer .content-footer .footer_social .vna-info .info {
            margin: 10px 0; } }
        @media (min-width: 992px) and (max-width: 1199px) {
          footer .content-footer .footer_social .vna-info .info {
            margin: 10px 0; } }
        @media (min-width: 1200px) and (max-width: 1399px) {
          footer .content-footer .footer_social .vna-info .info {
            margin: 10px 0; } }
        @media (min-width: 1400px) {
          footer .content-footer .footer_social .vna-info .info {
            margin: 10px 0; } }
        footer .content-footer .footer_social .vna-info .info img {
          width: 16px;
          height: 18px; }
        footer .content-footer .footer_social .vna-info .info .text {
          font-size: 13px;
          color: #d9f6ff;
          letter-spacing: -1;
          margin-left: 4px; }
          footer .content-footer .footer_social .vna-info .info .text a {
            color: #ffffff;
            font-family: "DiavloLight", "OpenSans-Light", "Arial", "Helvetica", sans-serif; }
      @media (max-width: 575px) {
        footer .content-footer .footer_social .vna-info .small_logo {
          display: none; } }
      @media (min-width: 576px) and (max-width: 767px) {
        footer .content-footer .footer_social .vna-info .small_logo {
          display: none; } }
      footer .content-footer .footer_social .vna-info .small_logo a img {
        height: 26px; }
    footer .content-footer .footer_social .reward {
      text-align: center; }
      footer .content-footer .footer_social .reward .img-reward {
        display: flex;
        justify-content: center;
        margin-bottom: 30px; }
        footer .content-footer .footer_social .reward .img-reward img {
          height: 35px;
          margin: 0 2px; }
  footer .content-footer .copyright {
    font-size: 11px;
    padding-top: 30px;
    border-top: 1px solid #dee2e6;
    color: #d9f6ff; }
    footer .content-footer .copyright .text-copyright {
      text-align: center; }
      footer .content-footer .copyright .text-copyright a {
        color: #d9f6ff; }
    footer .content-footer .copyright .img-copyright {
      display: flex;
      justify-content: center;
      margin-top: 30px; }
      footer .content-footer .copyright .img-copyright img {
        margin: 0 10px; }

@media (min-width: 1200px) {
  .header-nav {
    padding: 0 60px; }
  .header-content {
    padding: 0 60px;
    margin: 0 auto; }
    .header-content .header-banner {
      margin: 0 -60px; } }

@media (min-width: 1400px) {
  .header-nav {
    padding: 0 60px; }
  .header-content {
    padding: 0 60px;
    margin: 0 auto; }
    .header-content .header-banner {
      margin: 0 -60px; } }

@media (min-width: 1700px) {
  .header-nav {
    padding: 0 60px; }
  .header-content {
    padding: 0;
    width: 1520px;
    margin: 0 auto; }
    .header-content .header-banner {
      margin: 0 -60px; }
  .container {
    width: 1520px; } }
