body {
  font-family: 'HelveticaNeue', sans-serif;
  background-color: #eff4f7;
  font-size: $mainFontSize;
  aside{
    height: 100%;
    width: 0;
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    text-align:center;
    z-index: 10000;
  }
  main {
    margin-top: 0;
    position: relative;
    padding-bottom: 110px;

    .features-swiper-container {
      position: relative;

      .feature-product-swiper {
        margin: 18px 66px;
        padding: 12px;
        @include XS_Screen {
          margin: 0;
        }
        @include SM_Screen {
          margin: 0;
        }

        .swiper-wrapper {
          margin: -10px;
          padding: 10px;
          @include MD_Screen {
            padding: 10px 0;
          }
          @include XL_Screen {
            padding: 10px 0;
          }

          .block-item {
            box-shadow: 0 3px 10px 0 rgba(0, 84, 144, 0.16);
          }
        }
      }

      .swiper-button {
        width: 48px;
        height: 48px;
        display: block;
        padding: 16px 12px;
        box-shadow: 0 3px 10px 0 rgba(160, 111, 17, 0.16);
        background: #ffffff url('/images/arrow-left.png') center center no-repeat;
        background-size: 24px;
        position: absolute;
        z-index: 9999;
        border-radius: 50%;
        top: 42%;
        @include XS_Screen {
          display: none;
        }
        @include SM_Screen {
          display: none;
        }

        &:focus {
          border: none;
          outline: 0;
        }

        &.swiper-button-disabled {
          opacity: .7;
        }
      }

      .button-swiper-home-next {
        -ms-transform: rotate(-180deg); /* IE 9 */
        transform: rotate(-180deg);
        right: 0;
      }

      .button-swiper-home-prev {
        left: 0;

      }
    }

    .product-block {
      padding: 16px 30px 30px;
      margin: 18px 36px 0;
      border-radius: 20px;
      background-color: var(--color-white);
      @include XS_Screen {
        margin: 0;
        padding: 20px 8px;
      }
      @include SM_Screen {
        margin: 0;
        padding: 20px 16px;
      }


      .block-item {
        @include XS_Screen {
          width: calc(50% - 6px);
          box-shadow: 0 3px 10px 0 rgba(0, 84, 144, 0.16);
        }
        @include SM_Screen {
          width: calc(50% - 15px);
          box-shadow: 0 3px 10px 0 rgba(0, 84, 144, 0.16);
        }
        @include LG_Screen {
          width: 30%;
          box-shadow: 0 3px 10px 0 rgba(0, 84, 144, 0.16);
        }
        @include XL_Screen {
          width: calc(25% - 16px);
          box-shadow: 0 3px 10px 0 rgba(0, 84, 144, 0.16);
        }
      }

      .swiper-menu-tab {
        margin-left: 0;

        .swiper-slide {
          width: auto;
        }
      }

      .btn-organ {
        width: 570px;
        margin-bottom: 00px;
        @include XS_Screen {
          width: 100%;
        }
      }
    }

    .main-footer {
      height: 110px;
      width: 100%;
      background-color: var(--color-main);
      position: absolute;
      bottom: 0;
      z-index: -1;
    }
  }
}

.page-home {
  main {
    padding-bottom: 0;

    .block-container {
      padding-left: 16px;
      padding-right: 16px;
      @include SM_Screen {
        width: auto;
        max-width: none;
      }
    }
  }
}

.page-success {
  main {
    padding-bottom: 228px;
    padding-top: 72px;

    .container {
      font-family: "OpenSans", sans-serif;
      color: $successTextColor;

      .row {
        .congratulation {
          font-size: 40px;
          font-weight: bold;
        }

        .notification-success {
          font-size: 16px;
        }

        .box-success {
          width: 372px;
          height: 417px;
          background-color: var(--color-white);
          margin: 30px auto;
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
          border-radius: 20px;
          font-size: 14px;
          padding: 0 16px;
          margin-top: 25px;

          .img-box-success {
            margin: 30px 29px 12px 29px;
            height: 150px;

            img {
              width: 100%;
              height: 100%;
              border-radius: 8px;
            }
          }

          .title-success {
            font-weight: bold;
          }

          .price-success {
            font-size: 20px;
            font-weight: bold;
            color: #dba410;
          }

          .content-success {
            color: $successContentBoxTextColor;

            span {
              font-weight: bold;
            }
          }

          .btn-quit {
            margin: 11px 4px;
            height: 40px;
            background-color: var(--color-main);
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
              color: var(--color-white);
              font-size: 16px;
              line-height: 20px;
              text-decoration: none;
            }
          }
        }

        .need-help {
          font-size: 14px;
        }

        .hot-line {
          font-size: 16px;

          a {
            font-weight: bold;
            color: $successTextColor;
          }
        }
      }
    }
  }
}

.page-payment {
  main {
    padding-top: 60px;
    @include XS_Screen {
      padding-top: 38px;
    }
    @include SM_Screen {
      padding-top: 38px;
    }
    @include MD_Screen {
      padding-top: 38px;
    }

    .container {
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      display: flex;
      @include XS_Screen {
        display: block;
      }
      @include SM_Screen {
        display: block;
      }

      .box-payment {
        color: $paymentTextColor;
        padding: 26px 23px 20px 26px;
        border-radius: 24px;
        background-color: #f5f7fa;
        box-shadow: 0 4px 30px 0 rgba(36, 47, 82, 0.1);
        border: solid 2px #ffffff;
        @include XS_Screen {
          padding: 23px 12px 15px 12px;
        }
        @include SM_Screen {
          padding: 23px 12px 15px 12px;
        }
        @include MD_Screen {
          padding: 23px 12px 15px 12px;
        }
      }

      .left-payment {
        text-align: left;
        margin-right: 50px;
        width: 500px;
        @include XS_Screen {
          width: auto;
          margin-right: 0;
        }
        @include SM_Screen {
          width: auto;
          margin-right: 0;
        }
        @include MD_Screen {
          width: auto;
          margin-right: 20px;
        }


        .form-check-inline {
          label {
            line-height: 27px;
          }
        }

        .form-control {
          border-radius: 8px;
          border: 1px solid $borderTextInputColor;
          background-color: $radioButtonBackground;
        }

        .form-control::-webkit-input-placeholder { /* Edge */
          color: $paymentInputTextPlaceholderColor;
          font-size: $mainFontSize;
        }

        .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $paymentInputTextPlaceholderColor;
          font-size: $mainFontSize;

        }

        .form-control::placeholder {
          color: $paymentInputTextPlaceholderColor;
          font-size: $mainFontSize;

        }

        label {
          i {
            font-size: 13px;
          }
        }

        .payment-title {
          font-size: 16px;
          color: $paymentTitleColor;
          font-weight: bold;
        }

        .input-text-group {
          input {
            margin-top: 12px;
            margin-bottom: 12px;
          }
        }

        .margin-bottom-40 {
          margin-bottom: 40px;
        }

        .note {
          .note-title {
            font-weight: bold;
          }

          ul {
            padding-left: 1em;

            li::marker {
              font-size: 16px;
              color: $radioButtonActiveColor;
            }
          }
        }

        .btn-payment {
          height: 40px;
          border-radius: 8px;
          background-color: $radioButtonActiveColor;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
          margin-bottom: 38px;

          a {
            font-size: 16px;
            font-weight: bold;
            color: var(--color-white);
          }
        }

        .term-and-condition {
          text-align: center;

          a {
            text-decoration: underline;
            font-style: italic;
            color: #44a3f5;
          }
        }

      }

      .right-payment {
        text-align: left;
        width: 360px;
        height: 526px;
        @include XS_Screen {
          display: none;
        }
        @include SM_Screen {
          width: auto;
          margin-top: 20px;
        }
        @include MD_Screen {
          width: 100%;
          height: 550px;
        }

        .payment-title {
          font-size: 14px;
          color: $paymentTitleColor;
          font-weight: bold;
        }

        .img-voucher {
          margin: 14px 0 16px 0;

          img {
            width: 100%;
            height: 158px;
            border-radius: 8px;
          }
        }

        .voucher {
          div {
            span {
              float: right;
            }

            .price {
              font-size: 20px;
              color: $radioButtonActiveColor;
              font-weight: bold;
            }
          }
        }

        .hr-voucher {
        }

        .location {
          ul {
            padding-left: 1em;
          }
        }
      }

      #modalPaymentFailed {
        .modal-content {
          top: 256px;
          height: 210px;
          border-radius: 20px;
          text-align: center;

          .modal-body {
            padding: 24px 0 30px;

            .popup-payment-failed-header {
              font-size: 24px;
              font-weight: bold;
              margin-bottom: 9px;
            }

            .popup-payment-failed-content {
              font-size: 16px;

              span {
                color: $radioButtonActiveColor;
              }
            }

            .popup-payment-button {
              width: 206px;
              margin: 28px auto;
              height: 40px;
              background-color: var(--color-main);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 8px;

              a {
                font-size: 16px;
                color: #fff;
              }
            }
          }

        }
      }
    }
  }

}

.page-detail {
  background-image: linear-gradient(to bottom, #edeeef, #f2f0f0);
  position: relative;

  .block-button-checkout {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 88px;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--color-white);
    z-index: 1000;
    padding: 12px 16px;
    @include LG_Screen {
      display: none;
    }
    @include XL_Screen {
      display: none;
    }
    @include XXL_Screen {
      display: none;
    }

    .button-checkout {
      background: $radioButtonActiveColor;
      height: 48px;
      border-radius: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: var(--color-white);
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  main {
    margin-top: -193px;
    z-index: 10;
    padding-bottom: 50px;
    @include XS_Screen {
      padding-bottom: 0;
    }
    @include SM_Screen {
      padding-bottom: 0;
    }
    @include MD_Screen {
      padding-bottom: 0;
    }

    .container {
      @include XS_Screen {
        padding: 0;
      }
      @include SM_Screen {
        padding: 0;
      }
    }


    .block-product-detail {
      background-color: var(--color-white);
      padding: 21px 20px 5px;
      border-radius: 32px;
      margin: 0 67px;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
      @include XS_Screen {
        margin: 0;
        padding: 0 16px;
        border-radius: 16px;
        background-color: #eff4f7;
      }
      @include SM_Screen {
        margin: 0;
        padding: 0 16px;
        border-radius: 16px;
        background-color: #eff4f7;
      }
      @include MD_Screen{
        margin: 0;
        padding: 0 16px;
        border-radius: 16px;
        background-color: #eff4f7;
      }

      .block-gallery {
        @include XS_Screen {
          padding-top: 20px;
          box-shadow: 0 8px 16px 0 rgba(0, 84, 144, 0.12);
          border-radius: 16px;
          padding-bottom: 26px;
          background: var(--color-white);
        }
        @include SM_Screen {
          padding-top: 20px;
          box-shadow: 0 8px 16px 0 rgba(0, 84, 144, 0.12);
          border-radius: 16px;
          padding-bottom: 26px;
          background: var(--color-white);
        }
        @include MD_Screen {
          padding-top: 20px;
          box-shadow: 0 8px 16px 0 rgba(0, 84, 144, 0.12);
          border-radius: 16px;
          padding-bottom: 26px;
          background: var(--color-white);
        }

      }

      .main-gallery {
        @include LG_Screen {
          padding-right: 0;
        }
        @include XL_Screen {
          padding-right: 0;
        }
        @include XXL_Screen {
          padding-right: 0;
        }
      }

      .gallery-top {
        width: 100%;
        height: 340px;

        .swiper-slide {
          border-radius: 20px;
          @include XS_Screen {
            border-radius: 16px;
          }
        }
      }

      .gallery-thumbs {
        margin-top: 11px;
        height: 60px;
        box-sizing: border-box;
        padding: 0;

        .swiper-button-gallery {
          width: 36px;
          height: 36px;
          display: block;
          padding: 16px 12px;
          box-shadow: 0 3px 10px 0 rgba(160, 111, 17, 0.16);
          background: transparent url('/images/arrow-right-white.svg') center center no-repeat;
          background-size: 24px;
          position: absolute;
          z-index: 9999;
          border-radius: 50%;
          top: 25%;

          &:focus {
            border: none;
            outline: 0;
          }

          &.swiper-button-disabled {
            display: none;
          }
        }

        .swiper-button-thumb-next {

          right: 0;
        }

        .swiper-button-thumb-prev {
          left: 0;
          -ms-transform: rotate(-180deg); /* IE 9 */
          transform: rotate(-180deg);
        }
      }

      .gallery-thumbs .swiper-slide {
        width: 80px;
        height: 100%;
        border-radius: 8px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .gallery-thumbs .swiper-slide-thumb-active {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 8px;
          border: solid 2px #006885;
          background: rgba(10, 38, 46, 0.6) url("/images/ico-witness.svg") center center no-repeat;
        }
      }

      .product-item {
        @include XS_Screen {
          padding-top: 27px;
          padding-left: 0;
        }
        @include SM_Screen {
          padding-top: 27px;
          padding-left: 0;
        }
        @include MD_Screen {
          padding-top: 27px;
          padding-left: 0;
        }
      }

    }

  }
}

.page-category {
  background-image: linear-gradient(to bottom, #edeeef, #f2f0f0);

  .header-content {
    padding: 0;
  }

  main {
    margin-top: -211px;
    z-index: 10;
    padding-bottom: 50px;

    .container {
      @include XS_Screen {
        padding: 0;

      }

      .product-block {
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 32px;
        @include XS_Screen {
          border-radius: 16px;
          box-shadow: 0 10px 20px 0 rgba(0, 84, 144, 0.2);
          padding: 16px;
        }
        @include SM_Screen {
          border-radius: 16px;
          box-shadow: 0 10px 20px 0 rgba(0, 84, 144, 0.2);
          padding: 16px;
        }
        @include MD_Screen {
          border-radius: 16px;
          box-shadow: 0 10px 20px 0 rgba(0, 84, 144, 0.2);
          padding: 16px;
        }


        .category-item {
          margin-bottom: 8px;

          &:last-child {
          }

          .category-title {

            margin-bottom: 18px;
            font-family: "OpenSans", sans-serif;
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
