body {
  font-family: 'HelveticaNeue', sans-serif;
  background-color: #eff4f7;
  font-size: $mainFontSize;

  main {
    margin-top: 0px;
    position: relative;
    padding-bottom: 110px;

    .features-swiper-container {
      position: relative;

      .feature-product-swiper {
        margin: 18px 66px;
        padding: 12px;

        .swiper-wrapper {
          margin: -10px;
          padding: 10px;

          .block-item {
            box-shadow: 0 3px 10px 0 rgba(0, 84, 144, 0.16);
          }
        }
      }

      .swiper-button {
        width: 48px;
        height: 48px;
        display: block;
        padding: 16px 12px;
        box-shadow: 0 3px 10px 0 rgba(160, 111, 17, 0.16);
        background: #ffffff url('/images/arrow-left.png') center center no-repeat;
        background-size: 24px;
        position: absolute;
        z-index: 9999;
        border-radius: 50%;
        top: 42%;

        &:focus {
          border: none;
          outline: 0;
        }

        &.swiper-button-disabled {
          opacity: .7;
        }
      }

      .button-swiper-home-next {
        -ms-transform: rotate(-180deg); /* IE 9 */
        transform: rotate(-180deg);
        right: 0;
      }

      .button-swiper-home-prev {
        left: 0;

      }
    }

    .product-block {
      padding: 16px 30px 30px;
      margin: 18px 36px 0;
      border-radius: 20px;
      background-color: var(--color-white);

      .btn-organ {
        width: 570px;
        margin-bottom: 00px;
      }
    }

    .main-footer {
      height: 110px;
      width: 100%;
      background-color: var(--color-main);
      position: absolute;
      bottom: 0;
      z-index: -1;
    }
  }
}

.page-home {
  main {
    padding-bottom: 0;
  }
}

.page-success {
  main {
    padding-bottom: 228px;
    padding-top: 72px;

    .container {
      font-family: "OpenSans", sans-serif;
      color: $successTextColor;

      .row {
        .congratulation {
          font-size: 40px;
          font-weight: bold;
        }

        .notification-success {
          font-size: 16px;
        }

        .box-success {
          width: 372px;
          height: 417px;
          background-color: var(--color-white);
          margin: 30px auto;
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
          border-radius: 20px;
          font-size: 14px;
          padding: 0 16px;
          margin-top: 25px;

          .img-box-success {
            margin: 30px 29px 12px 29px;
            height: 150px;

            img {
              width: 100%;
              height: 100%;
              border-radius: 8px;
            }
          }

          .title-success {
            font-weight: bold;
          }

          .price-success {
            font-size: 20px;
            font-weight: bold;
            color: #dba410;
          }

          .content-success {
            color: $successContentBoxTextColor;

            span {
              font-weight: bold;
            }
          }

          .btn-quit {
            margin: 11px 4px;
            height: 40px;
            background-color: var(--color-main);
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
              color: var(--color-white);
              font-size: 16px;
              line-height: 20px;
              text-decoration: none;
            }
          }
        }

        .need-help {
          font-size: 14px;
        }

        .hot-line {
          font-size: 16px;

          a {
            font-weight: bold;
            color: $successTextColor;
          }
        }
      }
    }
  }
}

.page-payment {
  main {
    padding-top: 60px;

    .container {
      justify-content: center;
      font-family: "Open Sans", sans-serif;

      .box-payment {
        color: $paymentTextColor;
        padding: 26px 23px 20px 26px;
        border-radius: 24px;
        background-color: #f5f7fa;
        box-shadow: 0 4px 30px 0 rgba(36, 47, 82, 0.1);
        border: solid 2px #ffffff;
      }

      .left-payment {
        width: 500px;
        margin-right: 50px;
        text-align: left;

        .form-check-inline {
          label {
            line-height: 27px;
          }
        }

        .form-control {
          border-radius: 8px;
          border: 1px solid $borderTextInputColor;
          background-color: $radioButtonBackground;
        }

        .form-control::-webkit-input-placeholder { /* Edge */
          color: $paymentInputTextPlaceholderColor;
          font-size: $mainFontSize;
        }

        .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $paymentInputTextPlaceholderColor;
          font-size: $mainFontSize;

        }

        .form-control::placeholder {
          color: $paymentInputTextPlaceholderColor;
          font-size: $mainFontSize;

        }

        label {
          i {
            font-size: 13px;
          }
        }

        .payment-title {
          font-size: 16px;
          color: $paymentTitleColor;
          font-weight: bold;
        }

        .input-text-group {
          input {
            margin-top: 12px;
            margin-bottom: 12px;
          }
        }

        .margin-bottom-40 {
          margin-bottom: 40px;
        }

        .note {
          .note-title {
            font-weight: bold;
          }

          ul {
            padding-left: 1em;

            li::marker {
              font-size: 16px;
              color: $radioButtonActiveColor;
            }
          }
        }

        .btn-payment {
          height: 40px;
          border-radius: 8px;
          background-color: $radioButtonActiveColor;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
          margin-bottom: 38px;

          a {
            font-size: 16px;
            font-weight: bold;
            color: var(--color-white);
          }
        }

        .term-and-condition {
          text-align: center;

          a {
            text-decoration: underline;
            font-style: italic;
            color: #44a3f5;
          }
        }

      }

      .right-payment {
        width: 360px;
        height: 526px;
        text-align: left;

        .payment-title {
          font-size: 14px;
          color: $paymentTitleColor;
          font-weight: bold;
        }

        .img-voucher {
          margin: 14px 0 16px 0;

          img {
            width: 100%;
            height: 158px;
            border-radius: 8px;
          }
        }

        .voucher {
          div {
            span {
              float: right;
            }

            .price {
              font-size: 20px;
              color: $radioButtonActiveColor;
              font-weight: bold;
            }
          }
        }

        .hr-voucher {
        }

        .location {
          ul {
            padding-left: 1em;
          }
        }
      }

      #modalPaymentFailed {
        .modal-content {
          top: 256px;
          height: 210px;
          border-radius: 20px;
          text-align: center;

          .modal-body {
            padding: 24px 0 30px;

            .popup-payment-failed-header {
              font-size: 24px;
              font-weight: bold;
              margin-bottom: 9px;
            }

            .popup-payment-failed-content {
              font-size: 16px;

              span {
                color: $radioButtonActiveColor;
              }
            }

            .popup-payment-button {
              width: 206px;
              margin: 28px auto;
              height: 40px;
              background-color: var(--color-main);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius:8px;
              a {
                font-size: 16px;
                color: #fff;
              }
            }
          }

        }
      }
    }
  }

}

.page-detail {
  background-image: linear-gradient(to bottom, #edeeef, #f2f0f0);

  main {
    margin-top: -193px;
    z-index: 10;
    padding-bottom: 50px;

    .block-product-detail {
      background-color: var(--color-white);
      padding: 21px 20px 5px;
      border-radius: 32px;
      margin: 0 67px;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);

      .gallery-top {
        width: 100%;
        height: 340px;

        .swiper-slide {
          border-radius: 20px;
        }
      }

      .gallery-thumbs {
        margin-top: 11px;
        height: 60px;
        box-sizing: border-box;
        padding: 0;

        .swiper-button-gallery {
          width: 36px;
          height: 36px;
          display: block;
          padding: 16px 12px;
          box-shadow: 0 3px 10px 0 rgba(160, 111, 17, 0.16);
          background: transparent url('/images/arrow-right-white.svg') center center no-repeat;
          background-size: 24px;
          position: absolute;
          z-index: 9999;
          border-radius: 50%;
          top: 25%;

          &:focus {
            border: none;
            outline: 0;
          }

          &.swiper-button-disabled {
            display: none;
          }
        }

        .swiper-button-thumb-next {

          right: 0;
        }

        .swiper-button-thumb-prev {
          left: 0;
          -ms-transform: rotate(-180deg); /* IE 9 */
          transform: rotate(-180deg);
        }
      }

      .gallery-thumbs .swiper-slide {
        width: 80px;
        height: 100%;
        border-radius: 8px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .gallery-thumbs .swiper-slide-thumb-active {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 8px;
          border: solid 2px #006885;
          background: rgba(10, 38, 46, 0.6) url("/images/ico-witness.svg") center center no-repeat;
        }
      }
    }

  }
}

.page-category {
  background-image: linear-gradient(to bottom, #edeeef, #f2f0f0);

  main {
    margin-top: -211px;
    z-index: 10;
    padding-bottom: 50px;

    .product-block {
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 32px;
      .category-item{
        margin-bottom: 8px;
        &:last-child{
         }
        .category-title {

          margin-bottom: 18px;
          font-family: "OpenSans", sans-serif;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
}
