:root {
  --color-main: #006885;
  --color-white: #FFF;
  --color-organ: #dba410;
  --color-text: #032136;
}
$mainFontSize:14px;
$successTextColor: #0a262e;
$successContentBoxTextColor: #2e515c;
$paymentTextColor: #5b637b;
$paymentRightTextColor: #4e646a;
$paymentTitleColor:#242f52;
$paymentInputTextPlaceholderColor:#969eb2;
$radioButtonActiveColor: #dba410;

$radioButtonBackground:#f5f7fa;
$radioButtonActiveBackground:#e9edf2;
$borderTextInputColor: #d7dae2;
