.block-container {

  .block-header {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #032136;
  }

  .block-item {
    border-radius: 8px;
    width: 270px;
    margin-bottom: 30px;
    .block-item-content{
      padding: 13px 20px;

      .block-content-title{
        font-size: 16px;
        color: var(--color-text);
      }
      .block-content-price{
        color: var(--color-main);
        font-size: 20px;
        font-weight: 600;
      }
    }

    .block-main-img {
      width: 100%;
      background-position: center center;
      background-size: cover;
      position: relative;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      &:before {
        content: '';
        display: block;
        padding-top: 48.5%;
      }
    }
  }

  .swiper-slide {
    display: inline-block;
    width: 270px;

    .block-item {

    }
  }

}
.product-block {
  margin-top: 34px;
  .nav-tabs {
    border: none;
    margin-bottom: 32px;

    .nav-link {
      border: none;
      color: #0a262e;
      font-size: 16px;
      padding: 0;
      padding-bottom: 15px;
      margin-right: 34px;

      &.active {
        border-bottom: 2px solid var(--color-organ);
        color: var(--color-main)
      }
    }
  }

}
.btn{
  padding: .75rem;
  &:focus{
    box-shadow: none;
  }
}
.btn-organ{
  color: var(--color-white);
  background-color: var(--color-organ);
  font-family: OpenSans, serif;
  font-size: 16px;
  font-weight: 600;
  &:hover{
    color: var(--color-main)
  }
}

.pr-0{
  padding-right: 0;
}
.product-item{
    .product-title{

    }
  .product-quantity{
    .btn-number{
      width: 40px;
      height: 40px;
      margin: 0;
      padding: 14px;
      border: solid 1px #707070;
      background-color: #ffffff;
      border-radius: 0;
      &.btn-minus{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-right: 0;
      }
      &.btn-plus{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-left: 0;
      }
    }
    .input-number{
      width: 40px;
      height: 40px;
      flex:  0 0 auto;
      border-bottom: solid 1px #707070;
      border-top: solid 1px #707070;
      border-left: 0;
      border-right: 0;
      text-align: center;
    }
  }
}
