.block-container {

  .block-header {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #032136;
  }

  .block-item {
    border-radius: 8px;
    width: 270px;
    margin-bottom: 30px;

    .block-item-content {
      padding: 13px 20px;

      .block-content-title {
        font-size: 16px;
        color: var(--color-text);
      }

      .block-content-price {
        color: var(--color-main);
        font-size: 20px;
        font-weight: 600;
      }
    }

    .block-main-img {
      width: 100%;
      background-position: center center;
      background-size: cover;
      position: relative;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      &:before {
        content: '';
        display: block;
        padding-top: 48.5%;
      }
    }
  }

  .swiper-slide {
    display: inline-block;
    width: 270px;

    .block-item {

    }
  }

}

.nav-tabs {
  border: none;

  .nav-link {
    border: none;
    font-size: 16px;
    padding: 0;
  }
}

.product-block {
  margin-top: 34px;

  .nav-tabs {
    margin-bottom: 32px;

    .nav-link {
      color: #0a262e;
      padding-bottom: 15px;
      margin-right: 34px;

      &.active {
        border-bottom: 2px solid var(--color-organ);
        color: var(--color-main)
      }
    }
  }

}

.btn {
  padding: .75rem;

  &:focus {
    box-shadow: none;
  }
}

.btn-organ {
  color: var(--color-white);
  background-color: var(--color-organ);
  font-family: OpenSans, serif;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    color: var(--color-main)
  }
}

a {
  text-decoration: none;
}

.pr-0 {
  padding-right: 0;
}

.product-item {
  padding-left: 27px;
  padding-top: 10px;

  .product-title {
    font-family: OpenSans, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-main)
  }

  .product-price {
    margin-top: 12px;
    font-family: OpenSans, sans-serif;
    font-size: 32px;
    font-weight: 600;

    color: var(--color-organ);

    .old-price {
      font-weight: 400;
      font-size: 16px;
      color: #4e646a;
      text-decoration: line-through;
      padding-left: 3px;
    }
  }

  .product-quantity {
    h4 {
      padding-top: 4px;
      font-family: OpenSans, sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: #0a262e;
    }

    .btn-number {
      width: 40px;
      height: 40px;
      margin: 0;
      padding: 14px;
      border: solid 1px #e7eaeb;
      background-color: #ffffff;
      border-radius: 0;
      line-height: 0;
      font-size: 0;

      &:disabled {
        opacity: 1;
      }

      span {
        position: relative;
        width: 12px;
        height: 2px;
        display: inline-block;
        background-color: #006885;
      }

      &.btn-minus {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-right: 0;
      }

      &.btn-plus {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-left: 0;

        span {
          &:before {
            position: absolute;
            content: "";
            height: 12px;
            width: 2px;
            top: -5px;
            left: 5px;
            background-color: var(--color-main);
          }
        }
      }

      &.btn-disable-count {
        span {
          background-color: #e7eaeb;

          &:before {
            background-color: #e7eaeb;
          }
        }
      }
    }

    .input-number {
      width: 40px;
      height: 40px;
      flex: 0 0 auto;
      border-bottom: solid 1px #e7eaeb;
      border-top: solid 1px #e7eaeb;
      border-left: 0;
      border-right: 0;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      background-color: var(--color-white);

      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
  }

  .product-place {
    padding-top: 10px;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    text-align: left;
    color: #2e515c;

    h4 {
      font-weight: 600;
      color: var(--color-main);
      font-size: 14px;
      margin-bottom: 0px;
      padding-bottom: 5px;
    }

    ul {
      padding-left: 10px;
      margin-bottom: 5px;
    }
  }

  .product-info {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    text-align: left;
    color: #2e515c;

    span {
      font-weight: 600;
      color: var(--color-main);
    }
  }

  .action-checkout {
    margin-top: 32px;
    width: 100%;
    padding-right: 52px;

    .btn {
      width: 100%;
      height: 40px;
      line-height: 1.2;
      border-radius: 8px;
      font-size: 16px;
      font-family: OpenSans, sans-serif;
    }
  }
}

.product-content-detail {
  margin-top: 35px;
  .nav-tabs {
    border-bottom: 1px solid #0a262e;
    .nav-link {
      font-family: 'OpenSans', serif;
      font-size: 22px;
      font-weight: 600;
      padding-bottom: 8px;
      margin-right: 20px;
      color: #7a9096;
      border-bottom: 2px solid transparent;

      &.active {
        border-bottom: 2px solid var(--color-organ);
        color: #0a262e;
      }
    }
  }

  .tab-content {
    padding: 10px 0;
    color: #2e515c;

    ul{
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      justify-content: space-between;
        li{
          background-color: #f4f7fa;
          border-radius: 8px;
          display: flex;
          align-items: center;
          align-content: center;
          width: 32%;
          margin-bottom: 10px;
          padding: 8px 8px 10px;
          position: relative;
          img{
            padding: 0 10px;
            height: 32px;
            width: 52px;
            margin-right: 10px;
            border-right: 1px solid #e4e8ed;
          }
        }
    }
  }
}

