
@font-face {
  font-family: "Diavlo-Medium";
  src: url(../fonts/Diavlo_MEDIUM.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "diavlo_book";
  src: url(../fonts/Diavlo_BOOK.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Diavlo Light";
  src: url(../fonts/Diavlo_LIGHT.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'DiavloBook-Regular';
  src: url(../fonts/Diavlo_BOOK.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
footer {
  .container-footer {
    max-width: 1000px;
    margin: 0 auto;
  }

  .head-footer {
    background: url(../images/footer/pattern_vang.svg);
    padding: 10px 15px;

    .rate {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 85px;
      }

      .text-rate {
        margin-left: 15px;

        .title {
          font-size: 15px;
          color: #0b6e8b;
          margin-bottom: 5px;
        }

        .content {
          font-size: 13px;
        }
      }
    }
  }

  .content-footer {
    padding: 30px 15px;
    background-color: #0685aa;
    color: #fff;

    .accordion {
      font-family: "Diavlo Light", "Arial", sans-serif;
      @include MD_Screen {
        flex-wrap: wrap;
        flex-direction: row;
      }

      .item {
        .accordion-header {
          cursor: pointer;
          padding: 20px 0;
          @include XS_Screen {
            border-bottom: 1px solid #4aacc3;
          }
          @include SM_Screen {
            border-bottom: 1px solid #4aacc3;
          }

          .accordion-category {
            font-size: 16px;
            background-color: #0685aa;
            padding: 0;
            box-shadow: none;
            color: #e2aa11;

            @include XS_Screen {
              color: #fff;
            }
            @include SM_Screen {
              color: #fff;
            }

            &:after {
              @include MD_Screen {
                display: none !important;
              }
              @include LG_Screen {
                display: none !important;
              }
              @include XL_Screen {
                display: none !important;
              }
              @include XXL_Screen {
                display: none !important;
              }
            }

          }
        }

        .accordion-collapse {
          @include MD_Screen {
            display: block !important;
          }
          @include LG_Screen {
            display: block !important;

          }
          @include XL_Screen {
            display: block !important;

          }
          @include XXL_Screen {
            display: block !important;
          }

          .accordion-body {
            padding: 0;

            ul {
              list-style: none;
              padding: 0;

              li {
                padding: 5px 0;
                @include XS_Screen {
                  padding: 20px 0;
                  border-bottom: 1px solid #4aacc3;
                }
                @include SM_Screen {
                  padding: 20px 0;
                  border-bottom: 1px solid #4aacc3;
                }

                a {
                  color: #fff;
                  font-size: 13px;
                  @include XS_Screen {
                    font-size: 16px;
                  }
                  @include SM_Screen {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer_social {
      margin-top: 30px;
      font-size: 14px;
      padding-bottom: 30px;
      clear: both;

      .vna-social {
        margin-bottom: 30px;
        @include XS_Screen {
          padding: 0;
        }
        .sky-team {
          margin-bottom: 15px;
          @include XS_Screen {
            text-align: center;
          }
          img {
            width: 120px;
          }
        }

        .social {
          display: flex;
          @include XS_Screen {
            justify-content: center;
          }
          a {
            margin: 10px 2px;

            img {
              width: 35px;
            }
          }
        }

        .social-link {
          display: flex;
          @include XS_Screen {
            justify-content: center;
          }
          a {
            color: #fff;
            padding: 0 5px;
            border-right: 1px solid #94e6ff;

            &:last-child {
              border-right: none;
            }
          }
        }
      }

      .vna-info {
        //padding-left: 0;
        //padding-right:0;
        margin-bottom: 30px;

        .info {
          display: flex;
          @include XS_Screen {
            margin: 3px 0;
          }
          @include SM_Screen {
            margin: 10px 0;
          }
          @include MD_Screen {
            margin: 10px 0;
          }
          @include LG_Screen {
            margin: 10px 0;
          }
          @include XL_Screen {
            margin: 10px 0;
          }
          @include XXL_Screen {
            margin: 10px 0;
          }

          img {
            width: 16px;
            height: 18px;
          }

          .text {
            font-size: 13px;
            color: #d9f6ff;
            letter-spacing: -1;
            margin-left: 4px;

            a {
              color: #ffffff;
              font-family: "DiavloLight", "OpenSans-Light", "Arial", "Helvetica", sans-serif;
            }
          }
        }

        .small_logo {
          @include XS_Screen {
            display: none;
          }
          @include SM_Screen {
            display: none;
          }

          a {
            img {
              height: 26px;
            }
          }
        }
      }

      .reward {
        text-align: center;

        .img-reward {
          display: flex;
          justify-content: center;
          margin-bottom: 30px;

          img {
            height: 35px;
            margin: 0 2px;
          }
        }

      }
    }

    .copyright {
      font-size: 11px;
      padding-top: 30px;
      border-top: 1px solid #dee2e6;
      color: #d9f6ff;

      .text-copyright {
        text-align: center;

        a {
          color: #d9f6ff;
        }
      }

      .img-copyright {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        img {
          margin: 0 10px;
        }
      }
    }
  }
}
