
header {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-white);

  .header-nav {
    height: auto;
    background-color: var(--color-white);
    z-index: 9999;
  }

  .header-content {
    margin-top: 5px;
    position: relative;

    .header-title {
      font-size: 48px;
      font-weight: 600;
      line-height: 1.25;
      color: #0a262e;
      display: block;
      margin-top: 100px;
      text-transform: uppercase;

      span {
        color: var(--color-main)
      }


    }

    .list-services {
      margin-top: 40px;
      margin-left: 5px;

      .service-item {
        flex-shrink: 0;
        border-radius: 16px;
        box-shadow: 0 10px 20px 0 rgba(160, 111, 17, 0.16);
        width: 270px;
        height: 170px;
        margin-right: 28px;
        border: solid 2px #fff;
        box-sizing: border-box;
        padding: 20px;
        cursor: pointer;
        margin-bottom: 35px;
        position: relative;

        &:hover,
        &.active {
          border: 2px solid #dba410;

          span {
            color: var(--color-main)
          }
        }

        &::before {
          content: '';
          position: absolute;
          width: 40px;
          height: 72px;
          border-radius: 20px;
          border: solid 1px #aac9d1;
          background-color: #c3e0e8;
          z-index: 2;
        }

        span {
          display: block;
          margin-top: 10px;
          font-size: 16px;
          font-weight: 600;
          color: #0a262e;
        }

        img {
          display: block;
          height: 72px;
          width: auto;
          z-index: 3;
          position: relative;
          margin-left: 10px;
        }
      }
    }

  }

  .navbar {
    padding: 6px 0;

    .navbar-brand {
      padding: 0;

      .logo_lotus {
        width: 239px;
        height: 34px;
        object-fit: contain;
        font-size: 0;

      }

      span {
        display: block;
        width: 100%;
        text-align: center;
        color: var(--color-main);
        font-size: 9px;
        text-transform: uppercase;
      }
    }

    .navbar-nav {
      .nav-item {
        margin: 0 20px;

        .nav-link {
          color: #0a262e;
          padding-left: 0;
          padding-right: 0;
        }

        &.active,
        &:hover {
          .nav-link {
            color: var(--color-main);
          }

          border-bottom: 3px solid var(--color-organ);
        }
      }
    }

    .btn-login {
      background-color: var(--color-main);
      border-radius: 20px;
      border: solid 1px #ffffff;
      width: 168px;
      height: 40px;
      color: var(--color-white) !important;
      font-size: 14px;
      font-weight: 600;
      line-height: 38px;
      text-align: center;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

.page-home {
  header {
    background: transparent url("/images/header-bg.png") top right no-repeat;
    background-size: contain;

    .header-nav {
      background-color: transparent;
    }

    .header-content {
      padding-bottom: 238px;
    }
  }
}

.page-detail {
  header {

    .header-content {
      max-height: 488px;
      height: 488px;
      width: 100%;
      margin-top: 50px;
      overflow: hidden;
      .header-title {
        font-size: 40px;
        margin-top: 115px;
        font-family: OpenSans, serif;
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 4;
      }

      .header-banner {
        position: relative;

        &:after {
          content: '';
          background-color: rgba(0, 0, 0, .6);
          z-index: 2;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }

      }
    }
  }
}
