
header {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-white);

  .header-nav {
    height: auto;
    background-color: var(--color-white);
    font-size: 16px;
    z-index: 9999;
  }

  .header-content {
    margin-top: 5px;
    position: relative;

    .header-title {
      font-size: 48px;
      font-weight: 600;
      line-height: 1.25;
      color: #0a262e;
      display: block;
      text-transform: uppercase;

      span {
        color: var(--color-main)
      }


    }

    .list-services {
      margin-top: 40px;
      margin-left: 5px;
      @include XS_Screen {
        margin-left: 0;
        padding: 0 10px;
      }
      @include SM_Screen {
        margin-left: 0;
        padding: 0 16px;
      }
      @include MD_Screen {
        margin-left: 0;
        justify-content:center;
      }
      .service-item {
        flex-shrink: 0;
        border-radius: 16px;
        box-shadow: 0 10px 20px 0 rgba(160, 111, 17, 0.16);
        width: 270px;
        height: 170px;
        margin-right: 28px;
        border: solid 2px #fff;
        box-sizing: border-box;
        padding: 20px;
        cursor: pointer;
        margin-bottom: 40px;
        position: relative;
        @include XS_Screen {
          width: calc(50% - 12px);
          background-color: var(--color-white);
          margin: 6px;
          height: 136px;
          padding: 16px;
          overflow: hidden;
        }

        &:hover,
        &.active {
          border: 2px solid #dba410;

          span {
            color: var(--color-main)
          }
        }

        &::before {
          content: '';
          position: absolute;
          width: 40px;
          height: 72px;
          border-radius: 20px;
          border: solid 1px #aac9d1;
          background-color: #c3e0e8;
          z-index: 2;
          @include XS_Screen {
            height: 40px;
            width: 22.22px;
          }
        }

        span {
          display: block;
          margin-top: 10px;
          font-size: 16px;
          font-weight: 600;
          color: #0a262e;
        }

        img {
          display: block;
          height: 72px;
          width: auto;
          z-index: 3;
          position: relative;
          margin-left: 10px;
          @include XS_Screen {
            height: 40px;
          }
        }
      }
    }

  }

  .navbar {
    padding: 2px 0;

    .navbar-brand {
      padding: 0;

      .logo_lotus {
        width: 239px;
        height: 34px;
        object-fit: contain;
        font-size: 0;

      }

      span {
        display: block;
        width: 100%;
        text-align: center;
        color: var(--color-main);
        font-size: 9px;
        text-transform: uppercase;
      }
    }

    .navbar-nav {
      .nav-item {
        margin: 0 20px;

        .nav-link {
          color: #0a262e;
          padding-left: 0;
          padding-right: 0;
        }

        &.active,
        &:hover {
          .nav-link {
            color: var(--color-main);
          }

          border-bottom: 3px solid var(--color-organ);
        }
      }
    }

    .btn-login {
      background-color: var(--color-main);
      border-radius: 20px;
      border: solid 1px #ffffff;
      width: 166px;
      height: 40px;
      color: var(--color-white) !important;
      font-size: 14px;
      font-weight: 600;
      line-height: 38px;
      text-align: center;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

.page-home {
  header {
    background: transparent url("/images/header-bg.png") top right no-repeat;
    background-size: contain;
    @include LG_Screen{
      background-size: 40% 80%;
    }
    @include XL_Screen {
      background-size: 50% 80%;
    }

    .header-nav {
      background-color: transparent;
    }

    .header-content {
      padding-bottom: 231px;
      @include XS_Screen {
        padding-bottom: 30px;
      }
      @include SM_Screen {
        padding-bottom: 30px;
      }
      @include MD_Screen {
        padding-bottom: 30px;
      }
      @include LG_Screen {
        padding-bottom: 30px;
      }
      @include XL_Screen {
        padding-bottom: 5px;
      }

      .header-title {
        margin-top: 145px;
        @include XS_Screen {
          margin-top: 400px;
          font-size: 32px;
          padding: 0 16px;
          br {
            display: none;
          }
        }
        @include SM_Screen {
          margin-top: 700px;
          font-size: 32px;
          padding: 0 16px;
        }
        @include MD_Screen {
          margin-top: 700px;
          font-size: 36px;
          padding: 0 16px;
          text-align: center;
        }
        @include LG_Screen {
          padding: 0 16px;
          font-size:32px;
          margin-top: 100px;
        }
      }
    }
  }
}

.page-detail,
.page-category {
  header {
    .header-nav {
      .navbar {
        padding: 0;

        .nav-link {
          padding: 16px 0;
        }
      }
    }

    .header-content {
      max-height: 488px;
      height: 488px;
      width: 100%;
      margin-top: 50px;
      overflow: hidden;

      .header-title {
        font-size: 40px;
        margin-top: 115px;
        font-family: OpenSans, serif;
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 4;
      }

      .header-banner {
        position: relative;

        &:after {
          content: '';
          background-color: rgba(0, 0, 0, .6);
          z-index: 2;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }

      }
    }
  }
}
