@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .header-nav{
    padding: 0 60px;
  }
  .header-content{
    padding: 0 60px;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .header-nav{
    padding: 0 60px;
  }
  .header-content{
    padding: 0 60px;
    margin: 0 auto;
  }
}
@media (min-width: 1700px){
  .header-nav{
    padding: 0 60px;
  }
  .header-content{
    width: 1520px;
    margin: 0 auto;
  }
  .container{
    width: 1520px;
  }
}
